@charset "windows-1256";

#container{
	width: 80%;
	height: auto;
	margin: 10px auto;
}

/*Web-site name*/
h1{
	text-align: center;
	text-shadow: 1px 5px 10px gray;
}

/*in home/index.html image*/
#landing_page{
	width: 70%;
	height: 50%;
  	position: relative;
  	left: 15%;
  	right: 15%;
}
/*for all table and th in artist/detail + index and in song/detail + index*/
table{
	border: 1px dotted black;
	text-align: center;
	margin: 0 auto;
}

th{
	background-color: #a3d2ca;
	color: white;
}

/*for all anchors*/
a{
	color: gray;
	text-decoration: none;
}

a:hover{
	color: #b76f48;
	text-shadow: 1px 1px 3px #efefef;
  	text-decoration: underline;
}

/*style the links in shared/_layout.jsp*/
.links{
	display: flex;
  	justify-content: center;
}

.links>a{
	margin: 10px;
}

hr{
  width: 80%;
}

/*style the forms*/
form{
  border: 1px dotted #a3d2ca;
  text-align: center;
  width: 70%;
  margin: 10px auto;
}

form>div{
  margin: 10px;
}

form>button{
  background-color: rgb(82,114,241);
  border: none;
  border-radius: 3px;
}